/* .drag-container {
  z-index: 3;
} */

.card-width {
  width: 200px;
}

.card {
  width: 250px;
  height: 300px;
  border: 1px solid black;
}

.task {
  text-align: center;
  border: 1px solid gray;
  z-index: 4;
}
#list-one {
  z-index: 4;
}

#list-two {
  z-index: 3;
}
